<%= form_for([@event, @event.main_page]) do |f| %>	
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :header %>
		<%= f.text_field :header %>
	</p>

	<p>
		<%= f.label :content %> </br>
		<%= f.text_area :content, size: "100x10" %>
	</p>

	<p>
		Choose the file:</br>
		<span class="glyphicon glyphicon-arrow-right"></span>
		<%= f.label :jumbotron, id:"jumbotron_label" %>
		<span class="glyphicon glyphicon-arrow-left"></span>
		<%= f.file_field :jumbotron %>
	</p>

	</br>
	
	<p class="actions">
		<%= f.submit "Submit", class: 'btn btn-danger' %>
	</p>
	
<% end %>