<h1 id="header1">
	<%= @main_page.header %>
</h1>

<div class="main_page_content">
		<div>
			 </br>
			<%=image_tag @main_page.jumbotron.url(:medium), id: "img" %>
		</div>
		
		<div>
			<%= link_to "AGENDA", event_agenda_path, class: "btn-link-red" %> / 
			<%= link_to "HOTELS", event_hotels_path(id: @event.id), class: "btn-link-red" %>
		</div>

  <div>

    <p><%= @guests_count%> going to this event</p>
  </div>
  <div>
    created by <%= link_to @admin_name.user_name, user_path(id: @admin_id) %>
  </div>
		
		<hr>
		
		<div id="description">
			<strong>Description:</strong>
			<%= @main_page.content %>
		</div>
	
	<div> </br>
    <% if current_user.present? %>
        <% if @event.followers.where(user_id: current_user) %>
            <p>You are following this event</p>
        <% else %>
          <%= button_to "JOIN!", followers_create_path(id: @event.id) , :method=>:post, class: "btn btn-danger btn-lg" %>
        <% end %>
    <% else %>
		    <%= link_to "JOIN!", new_event_guest_path, class: "btn btn-danger btn-lg" %>
    <% end %>
	</div>
		<hr>

	<% if @event.users.include?(current_user) %>
		<div id="ifuserloggedin">
			<p>
				<%= link_to "Edit", edit_event_main_page_path, class: "btn-link-red"%>
				or
				<%= link_to "Delete", event_main_page_path, method: :delete, class: "btn-link-red" %>
			</p>
		</div>
		<% else %>
		<% if @show_contributor && current_user.present? %>
	<p>Co-create the event</p>
		<%= render 'pending_contributors/form' %>
		<%end%>
	<% end %>
	
</div>
