<h1>
	<%= @main_page.header %>
</h1>

<div>
	<%= image_tag @main_page.jumbotron.url(:medium) %>
</div>

<div>
	<%= @main_page.content %>
</div>

<% if current_user == find_event.user %>
	<p>
		<%= link_to "Edit", edit_event_main_page_path %>
	</p>
	<p>
		<%= link_to "Delete", event_main_page_path, method: :delete %>
	</p>
<% end %>
