<h1 id="header1">Resend confirmation instructions</h1>

<div class="form-horizontal">
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 
  </div> </br>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-danger' %>
  </div>
<% end %>

  <%= link_to "Log in", new_user_session_path, class: 'btn-link-red' %> or 
  <%= link_to "Sign up", new_user_registration_path, class: 'btn-link-red' %>
  </br></br>
</div>
