<h1 id="header1"> Join to event: <%= @event.name %> </h1>

<div class="form-horizontal">
	<%= form_for([@event, @guest]) do |f| %>

	<p>
		<%= f.label :email, 'Email*' %>
		<%= f.email_field :email %>
	</p>

	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :surname %>
		<%= f.text_field :surname %>
	</p>
	
	<p></br>
		<%= f.submit "Submit", class: "btn btn-danger" %>
	</br></p>

	<% end %>

</div>