<h1 id="header1">Edit <%= resource_name.to_s.humanize %></h1>

<div class="form-horizontal">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
    <%= devise_error_messages! %>

    <p>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
    </p>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <p>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
    <i>(leave blank if you don't want to change it)</i>
    </p>

    <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </p>

    <p>
    <%= f.label :user_name %>
		<%= f.text_field :user_name, autofocus: true %>
    </p>

    <p>
    <%= f.label :name %>
		<%= f.text_field :name, autofocus: true%>
		</p>

		<p>
		<%= f.label :surname %>
		<%= f.text_field :surname, autofocus: true %>
		</p>

		<p>
		<%= f.label :company_name %>
		<%= f.text_field :company_name, autofocus: true %>		
		</p>
		
	  <p>
	  	Choose new avatar:</br>
		  <span class="glyphicon glyphicon-arrow-right"></span>
		  <%= f.label :avatar, id:"event_label" %>
		  <span class="glyphicon glyphicon-arrow-left"></span>

		  <%= f.file_field :avatar %>
	  </p>

		<p>
		<%= f.label :role %>
		
		<div>
		<%= f.radio_button :role, 'user' %>
		<%= f.label :role, 'User', :value => 'user' %>
    &emsp;
		<%= f.radio_button :role, 'pro_user' %>
		<%= f.label :role, 'Pro User', :value => 'pro_user' %>
		</div>
		
		</p>
		
    <p>
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off" %>
    <i>(we need your current password to confirm your changes)</i>
    </p>

    <p class="actions">
    <%= f.submit "Update", class: 'btn btn-danger' %>
    </p>
  <% end %>
  
  <p>
    <%= link_to "Cancel my account", registration_path(resource_name), class: 'btn-link-red', data: { confirm: "Are you sure?" }, method: :delete %>
  </p>
  <p>
    <%= link_to "Back", :back, class: 'btn-link-red' %>
  </p>

</div>