<%= form_for([@event, @event.pending_contributors.build], url: event_pending_contributors_create_path) do |f| %>
<p>
	
	<%= f.radio_button :role, 'admin', :checked => true %>
	<%= f.label :role, 'Admin', :value => 'admin' %>
        &emsp;
	<%= f.radio_button :role, 'user' %>
	<%= f.label :role, 'User', :value => 'user' %>
		
</p>
<p>
	<%= f.submit "Submit", class: "btn-link-red" %>
</p>
<% end %>