<div class="userslist col-md-offset-4">

  <%= form_tag(admin_user_list_path, method: :get) do %>
    <p>
      <%= text_field_tag(:keyword) %>
      <%= select_tag(:select_by, options_for_select([:email, :user_name])) %>
      <%= submit_tag(:Search) %>
    </p>
  <% end %>

  <h2><%= @temp.inspect %></h2>

  <%= will_paginate @users %>

  <ol>
  <% @users.each do |user| %>
    <li>
        <%= link_to user.user_name, admin_user_content_path(id: user) %>&nbsp;&nbsp;
        <%= user.email %>&nbsp;&nbsp;
        <%= user.role %>
    </li>
  <% end %>
  </ol>
</div>