<div class="userslist">
<div class="support col-md-offset-4">
  <h2 id="header2">Search</h2>
  <%= form_tag(admin_user_list_path, method: :get) do %>
    <p><%= text_field_tag(:keyword) %></p>
    <p><%= select_tag(:select_by, options_for_select([:email, :user_name])) %></p>
    <p><%= submit_tag "Search", class: "btn-danger" %></p>
  <% end %>


  
  <h2 id="header2">Use filtration</h2>
  <%= form_tag(admin_user_list_path, method: :get) do %>
    <%= radio_button_tag :role, 'user' %>
		<%= label_tag :role, 'user', :value => 'user' %>
		&emsp;
		<%= radio_button_tag :role, 'pro_user' %>
		<%= label_tag :role, 'pro user', :value => 'pro_user' %>
		&emsp;
		<%= radio_button_tag :role, '' %>
		<%= label_tag :role, 'all users', :value => '' %>
		&emsp;
		<%= submit_tag "filtr", class: "btn-danger" %>
  <% end %>

  </br>

  <%= will_paginate @users %>

  <ol>
  <% @users.each do |user| %>
    <li>
        <%= link_to user.user_name, admin_user_content_path(id: user) %>&nbsp;&nbsp;
        <%= user.email %>&nbsp;&nbsp;
        <%= user.role %>&nbsp;&nbsp;
        <% if user.banned == false %>
          <%= button_to 'BAN', user_ban_path(user_id: user.id) , data: {:confirm => 'Are you sure?'}, method: :put, class: "btn btn-danger btn-sm" %>
        <% else %>
          <%= button_to 'UNBAN', user_unban_path(user_id: user.id) , data: {:confirm => 'Are you sure?'}, method: :put, class: "btn btn-danger btn-sm" %>
        <% end %>
    </li>
  <% end %>
  </ol>
  </br>
  </div>
</div>