<div>
	<h1><%= @user.user_name %></h1>
</div>

<div>
	<!--<p>User Name: <%= @user.user_name %></p>-->
	<p>User Name: <%= @user.name %></p>
	<p>User Surname: <%= @user.surname %></p>
	<p>User email: <%= @user.email %></p>
	<p>User Company name: <%= @user.company_name %></p>
</div>
<%= link_to "Usuń", user_path(@user), method: :delete %>
