<h1 id="header1">Change your password</h1>

<div class="form-horizontal">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </p>

  <p class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </p>

  <p class="actions">
    <%= f.submit "Change my password", class: "btn btn-danger" %>
  </p>
<% end %>

<%= link_to 'Log in', new_user_session_path, class: 'btn-link-red' %> or 
<%= link_to 'Sign up', new_user_registration_path, class: 'btn-link-red' %> </br>
<%= link_to "Don't receive confirmation instruction?", new_user_confirmation_path, class: 'btn-link-red' %>

</br></br>
</div>
