<h1 id="header1">Forgot your password?</h1>

<div class="form-horizontal">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <p>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
    </p> </br>

    <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-danger' %>
    </div> </br>
  <% end %>

  <%= link_to "Log in", new_user_session_path, class: 'btn-link-red' %> or 
  <%= link_to "Sign up", new_user_registration_path, class: 'btn-link-red' %>
  </br></br>
</div>