<h2>Forgot your password?</h2>

<div class="form-horizontal">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <p>
    <%= f.label :email, class: 'control-label col-sm-2' %>
    <%= f.email_field :email, autofocus: true %>
    </p>

    <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary col-sm-offset-2' %>
    </div>
  <% end %>
</div>

<%= link_to "Log in", new_user_session_path, class: 'btn btn-link col-sm-offset-2 col-sm-1' %>
<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-link' %>

<%# render "devise/shared/links" %>
