<%= form_for @event do |f| %>

	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :place %>
		<%= f.text_field :place %>
	</p>

	<p>
		<%= f.label :date %>
		<%= f.date_field :date %>
	</p>

	<p>
		<%= f.label :time %>
		<%= f.time_field :time %>
	</p>
	
	<p>
		<%= f.label :category %>
			
		<div>
		<%= f.radio_button :category, 'business', :checked => true %>
		<%= f.label :category, 'business', :value => 'business' %>
    &emsp;
		<%= f.radio_button :category, 'charity' %>
		<%= f.label :category, 'charity', :value => 'charity' %>
		&emsp;
		<%= f.radio_button :category, 'culture & art' %>
		<%= f.label :category, 'culture & art', :value => 'culture & art' %>
		&emsp;
		<%= f.radio_button :category, 'entertainment' %>
		<%= f.label :category, 'entertainment', :value => 'entertainment' %>
		&emsp;
		<%= f.radio_button :category, 'personal growth' %>
		<%= f.label :category, 'personal growth', :value => 'personal growth' %>
		&emsp;
		<%= f.radio_button :category, 'political' %>
		<%= f.label :category, 'political', :value => 'political' %>
		&emsp;
		<%= f.radio_button :category, 'religious' %>
		<%= f.label :category, 'religious', :value => 'religious' %>
		&emsp;
		<%= f.radio_button :category, 'science' %>
		<%= f.label :category, 'science', :value => 'science' %>
		&emsp;
		<%= f.radio_button :category, 'sport' %>
		<%= f.label :category, 'sport', :value => 'sport' %>
		&emsp;
		<%= f.radio_button :category, 'other' %>
		<%= f.label :category, 'other', :value => 'other' %>
		</div>
	</p>

	<p>
		<%= f.label :description %> </br>
		<%= f.text_area :description, size: "100x10" %>
	</p>

	<p>
		Choose the file:</br>
		<span class="glyphicon glyphicon-arrow-right"></span>
		<%= f.label :avatar, id:"event_label" %>
		<span class="glyphicon glyphicon-arrow-left"></span>

		<%= f.file_field :avatar %>
	</p>

	<p class="actions">
		<%= f.submit "Submit", class: 'btn btn-danger' %>
	</p>
	</br>
	
<% end %>
