<%= form_for @event do |f| %>

	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :place %>
		<%= f.text_field :place %>
	</p>

	<p>
		<%= f.label :date %>
		<%= f.date_field :date %>
	</p>

	<p>
		<%= f.label :time %>
		<%= f.time_field :time %>
	</p>

	<p>
		<%= f.label :description %> </br>
		<%= f.text_area :description, size: "100x10" %>
	</p>

	<p>
		Choose the file:</br>
		<span class="glyphicon glyphicon-arrow-right"></span>
		<%= f.label :avatar, id:"event_label" %>
		<span class="glyphicon glyphicon-arrow-left"></span>

		<%= f.file_field :avatar %>
	</p>

	<p class="actions">
		<%= f.submit "Submit", class: 'btn btn-danger' %>
	</p>
	</br>
	
<% end %>
