<%= form_for @event do |f| %>

	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :place %>
		<%= f.text_field :place %>
	</p>

	<p>
		<%= f.label :date %>
		<%= f.date_field :date %>
	</p>

	<p>
		<%= f.label :time %>
		<%= f.time_field :time %>
	</p>
	
	<p>
		<%= f.label :category %>
			
		<div>
		<%= f.radio_button :category, 'science and conferences', :checked => true %>
		<%= f.label :category, 'Science and conferences', :value => 'science and conferences' %>
        &emsp;
		<%= f.radio_button :category, 'entertainment' %>
		<%= f.label :category, 'Entertainment', :value => 'entertainment' %>
		&emsp;
		<%= f.radio_button :category, 'fair and festivals' %>
		<%= f.label :category, 'Fair and festivals', :value => 'fair and festivals' %>
		&emsp;
		<%= f.radio_button :category, 'personal growth' %>
		<%= f.label :category, 'Personal growth', :value => 'personal growth' %>
		</div>
	</p>

	<p>
		<%= f.label :description %> </br>
		<%= f.text_area :description, size: "100x10" %>
	</p>

	<p>
		Choose the file:</br>
		<span class="glyphicon glyphicon-arrow-right"></span>
		<%= f.label :avatar, id:"event_label" %>
		<span class="glyphicon glyphicon-arrow-left"></span>

		<%= f.file_field :avatar %>
	</p>

	<p class="actions">
		<%= f.submit "Submit", class: 'btn btn-danger' %>
	</p>
	</br>
	
<% end %>
