<h1 id="header1">All events</h1>
</br>

<div class= "form-horizontal">
  <strong>Order by</strong>
  <%= form_for(:event, as: :event, url: events_path, method: :patch ) do |f| %>
    <p>
      <%= f.select(:sort_by,  options_for_select(%i[newest city soonest]) ) %>
    </p>
    <p>
      <%= f.submit 'Order', class: "btn-danger" %>
    </p>
  <% end %>

  </br>
  
  <strong>Find events by category</strong></br></br>
  <%= form_for(:event, as: :event, url: events_category_path, action: :post ) do |f| %>


		<%= f.radio_button :category, 'business', :checked => true %>
		<%= f.label :category, 'business', :value => 'business' %>
    &emsp;
		<%= f.radio_button :category, 'charity' %>
		<%= f.label :category, 'charity', :value => 'charity' %>
		&emsp;
		<%= f.radio_button :category, 'culture & art' %>
		<%= f.label :category, 'culture & art', :value => 'culture & art' %>
		&emsp;
		<%= f.radio_button :category, 'entertainment' %>
		<%= f.label :category, 'entertainment', :value => 'entertainment' %>
		&emsp;
		<%= f.radio_button :category, 'personal growth' %>
		<%= f.label :category, 'personal growth', :value => 'personal growth' %></br>
		
		<%= f.radio_button :category, 'political' %>
		<%= f.label :category, 'political', :value => 'political' %>
		&emsp;
		<%= f.radio_button :category, 'religious' %>
		<%= f.label :category, 'religious', :value => 'religious' %>
		&emsp;
		<%= f.radio_button :category, 'science' %>
		<%= f.label :category, 'science', :value => 'science' %>
		&emsp;
		<%= f.radio_button :category, 'sport' %>
		<%= f.label :category, 'sport', :value => 'sport' %>
		&emsp;
		<%= f.radio_button :category, 'other' %>
		<%= f.label :category, 'other', :value => 'other' %>
		</br></br>
  <%= f.submit 'Search', class: "btn-link-red" %>
  </br></br></br>
  <% end %>
<%= will_paginate @events %>
</br></br></br>
</div>




<% @events.each do |event| %>
      <div class="col-sm-4">
        <div class="panel">
          <div class="panel-heading"><%= event.name %></div>
          <div class="panel-body">
          	<%= link_to (image_tag event.avatar.url(:medium)), event_path(event), class:"img-responsive", id:"panel_img" %>
          </div>
          <div class="panel-footer">
            <strong>Category:</strong> <%= event.category %> </br>
            <strong>When:</strong> <%= event.date %> </br>
            <strong>Where:</strong> <%= event.place %></br>
            <strong>People going:</strong><%= event.guests.length %>
          </div>
        </div>
      </div>
<% end %>