<h1 id="header1">Results of searching events</h1>

<div class="form-horizontal">

  <%= will_paginate @events %>
  </br></br></br>

</div>

<% @events.each do |event| %>
      <div class="col-sm-4">
        <div class="panel">
          <div class="panel-heading"><%= event.name %></div>
          <div class="panel-body">
          	<%= link_to (image_tag event.avatar.url(:medium)), event_path(event), class:"img-responsive", id:"panel_img" %>
          </div>
          <div class="panel-footer">
            <strong>Category:</strong> <%= event.category %> </br>
            <strong>When:</strong> <%= event.date %> </br>
            <strong>Where:</strong> <%= event.place %></br>
            <strong>People going:</strong><%= event.guests.length %>
          </div>
        </div>
      </div>
<% end %>