<h1 id="header1">
	<%= @event.name %>
</h1>

</br>

<div class="event_content">
</br>
<% if current_user.present? %>
	<% if  @event.users.include?(current_user) %>
		<% if @event.main_page.present? %>
			<p>
				<%= link_to "Show main page", event_main_page_path(@event, @event.main_page), class: "btn btn-danger btn-size"  %>
			</p>
		<% else %>
			<p>
				<%= link_to "Create main page", new_event_main_page_path(@event), class: "btn btn-danger btn-size"  %>
			</p>
		<% end %>
		
		<p>
			<% if @event.agenda.nil? %>
          <%= link_to "Add agenda", new_event_agenda_path(@event), class: "btn btn-danger btn-size" %>
      <% end %>
		</p>
		<p>
			<%= link_to "Add hotels", event_choose_hotels_to_add_path(event_id: @event.id), class: "btn btn-danger btn-size" %>
		</p>
		<p>
			<%= link_to "Guests", event_guests_path(@event), class: "btn btn-danger btn-size" %>
		</p>
		<p>
			<%= link_to "Edit", edit_event_path(@event), class: "btn btn-danger btn-size" %>
		</p>
		<p>
			<%= link_to "Delete", event_path(@event), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-size" %>
		</p>
		<p>
		<%= render 'pending_contributors/accept' %>
		</p>
		
	<% end %>
<% end %>

</br>
</div>