<h1 id="header1">Log in</h1>

<div class="form-horizontal">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <p>
    <%= f.label "Username or email" %>
    <%= f.text_field :login, autofocus: true %>
  </p>

  <p>
    <%= f.label :password  %>
    <%= f.password_field :password, autocomplete: "off" %>
  </p>

  <% if devise_mapping.rememberable? -%>
    <p>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </p>
  <% end -%>

  <p class="actions">
    <%= f.submit "Log in", class: "btn btn-danger" %>
  </p>
  <% end %>
  
  <p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn-link-red" %><br>
    <%= link_to "Forgot password?", new_user_password_path, class: "btn-link-red" %>
  </p>
  
  </br>
  
</div>

<%# render "devise/shared/links" %>
