<h2>Log in</h2>

<div class="form-horizontal">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <p>
    <%= f.label "Username or email", class: 'control-label col-sm-2' %>
    <%= f.text_field :login, autofocus: true %>
  </p>

  <p>
    <%= f.label :password, class: 'control-label col-sm-2' %>
    <%= f.password_field :password, autocomplete: "off" %>
  </p>

  <% if devise_mapping.rememberable? -%>
    <p>
      <%= f.check_box :remember_me, class: 'control-label col-sm-offset-2 col-sm-2' %>
      <%= f.label :remember_me %>
    </p>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-primary col-sm-offset-2 col-sm-1' %>
  </div>
  <% end %>
  
  <p>
    <%= link_to "Sign up", new_user_registration_path %><br>
    <%= link_to "Forgot password?", new_user_password_path %>
  </p>
  
</div>

<%# render "devise/shared/links" %>
