<%= form_for @hotel do |f| %>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :city %>
	<%= f.text_field :city %>
</p>
<p>
	<%= f.label :address %>
	<%= f.text_field :address %>
</p>
<p>
	<%= f.label :phone %>
	<%= f.telephone_field :phone %>
</p>
<p>
	<%= f.label :email %>
	<%= f.email_field :email %>
</p>
<p>
	<%= f.label :link %>
	<%= f.url_field :link %>
</p>
<p>
	<%= f.label :description %> </br>
	<%= f.text_area :description, size: "100x10" %>
</p>
<p>
	<%= f.label :standard, "Standard: amount of stars" %>
	<%= f.number_field :standard, in: 1...6, step: 1 %>
</p>
<p>
	Choose the file:</br>
	<span class="glyphicon glyphicon-arrow-right"></span>
	<%= f.label :picture, id:"hotel_label" %>
	<span class="glyphicon glyphicon-arrow-left"></span>
	<%= f.file_field :picture %>
</p>
<p>
	<%= f.submit "Submit", class: "btn btn-danger" %>
</p>

<% end %>