<h1 id="header1">All hotels</h1>

<div class="form-horizontal">
  <h2 id="header2">find a hotel</h2>
  <%= form_for(:hotel, as: :hotel, url: hotels_path, method: :patch ) do |f| %>
    <%= f.text_field :name, placeholder: "search by name", id: "placeholder" %>
  	<%= f.submit "Search", class: "btn-danger" %> </br></br>
  <% end %>
</div>

<% @hotels.each do |hotel| %>
      <div class="col-sm-4">
        <div class="panel">
          <div class="panel-heading"><%= hotel.name %></div>
          <div class="panel-body">
          	<%= link_to (image_tag hotel.picture.url(:medium)), hotel_path(hotel), class:"img-responsive", id:"panel_img" %>
          </div>
          <div class="panel-footer">
              <strong>City:</strong> <%= hotel.city %> </br>
              <strong>Link:</strong> <%= hotel.link %> </br>
              <strong>Standard:</strong> <%= hotel.standard %> stars
          </div>
        </div>
      </div>
<% end %>