<h1 id="header1"> <%= @hotel.name %> </h1>

<div class="form-horizontal">
    <p>
        <%= image_tag @hotel.picture.url(:big),  id: "hotel_pic" %>
    </p>
    <p>
        <strong>City:</strong>
        <%= @hotel.city %>
    </p>
    
    <p>
        <strong>Standard (amount of stars):</strong>
        <%= @hotel.standard %>
    </p>
        
    <div id="description">
        <strong>Description: </strong></br>
        <%= @hotel.description %>
    </div></br>
    <p>
        <strong>Address: </strong>
        <%= @hotel.address %>
    </p>
    <p>
        <strong>Contact:</strong> </br>
        Email: <%= @hotel.email %> </br>
        Phone: <%= @hotel.phone %> </br>
        Link: <%= @hotel.link %> </br>
    </p>

    <% if @hotel.user == current_user %>
        <%= link_to "Edit", edit_hotel_path, class: "btn-link-red" %> or 
        <%= link_to "Delete", hotel_path(@hotel), data: { confirm: "Are you sure?" }, method: :delete %>
        <%= render 'hotel_pictures/form' %>
    <% end %>

    <h1 id="header1">Gallery</h1>
    <% @hotel.hotel_pictures.each do |pic| %>
        <%= image_tag pic.picture.url(:medium) %>
    <% end %>
 </div>