<h1 id="header1"> <%= @hotel.name %> </h1>

<div class="form-horizontal">
    <div>
        <strong>City:</strong>
        <%= @hotel.city %>
    </div></br>
        
    <div id="description">
        <strong>Description: </strong></br>
        <%= @hotel.description %>
    </div></br>

    <% if @hotel.user == current_user %>
        <%= link_to "Edit", edit_hotel_path, class: "btn-link-red" %>
        <%= render 'hotel_pictures/form' %>
    <% end %>

    <h1 id="header1">Galery</h1>
    <% @hotel.hotel_pictures.each do |pic| %>
        <%= image_tag pic.picture.url(:medium) %>
    <% end %>
 </div>