<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "EventManager", root_path, class: "navbar-brand" %>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path, id: "mypages" %></li>
            <li><%= link_to "Sign up", new_user_registration_path,
             id: "mypages" %></li>
            <li> <%= link_to "Page 2", root_path, id: "mypages" %> </li>
            <li> <%= link_to "Page 3", root_path, id: "mypages" %> </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li id="sign_log">
        	
              <% if user_signed_in? %>
		            <%= link_to "Log out", destroy_user_session_path, method: :delete  %>

          	  <% else %>
		            <%= link_to "Log in", new_user_session_path  %>
		          
		          <% end %>
	          </li>
          </ul>
        </div>
      </div>
</nav>