<!DOCTYPE html>
<html lang= "pl">
<head>
  <title>EventManager</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald|Open+Sans|Montserrat|Raleway|Arimo|Noto+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
	<%= render 'layouts/header' %>
	
	<div id="downcontent"> </div>
	
	<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
        <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
        <%= value %>
    </div>
	<% end %>
	
	<%= yield %>

  <div id="footer">
	  <p>all rights reserved by Adam & Dusia</p>
  </div>

</body>
</html>
